<div class="text-center">
  <h1 class="mb-2 text-7xl">Your <span class="text-blue-400 font-semibold">MotokoCoin</span> Wallet</h1>
  <p class="mb-4 text-lg">Sign Up now and get 100 MOC for free🥳!!</p>
  <p-button (click)="logIn()" label="Log In" icon="pi pi-wallet" styleClass="p-button-warning p-button-text p-button-lg"></p-button>
</div>

<p-dialog header="Motoko Wallet" [(visible)]="modalVisible" [style]="{width: '50vw'}" [modal]="true" [draggable]="false" [resizable]="false">
  <p class="text-center text-xl">{{ modalMessage }}</p>
</p-dialog>